.blocklyDropDownDiv {
  contain: none !important;
  overflow: visible !important;
}

.blocklyWidgetDiv {
  contain: none !important;
  overflow: visible !important;
}

.blocklyTooltipDiv {
  contain: none !important;
  overflow: visible !important;
}

.varvClickableIcon {
  cursor: pointer !important;
}
