.mirrorverse-audio-router-maximized {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg.mirrorverse-audio-router-maximized {
  pointer-events: none;
}

.mirrorVerseAudioRouterNode {
  display: inline-flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
  user-select: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 0.25em;

  &.mirrorVerseUnused {
    opacity: 0.5;
  }

  &.error {
    border-color: orangered;
  }
}

.mirrorVerseAudioRouterValueNode {
  .type {
    &.hidden {
      display: none;
    }
  }

  &.error {
    border-color: orangered;
  }

  input {
    width: 3.5em;
  }
}

.mirrorVerseAudioRouterDecisionNode {
  .decisions {
    display: flex;
    align-items: center;
    gap: 0.25em;

    .decision {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;

      .connectionOut {
        display: inline-block;
        width: 1em;
        height: 1em;
        background-color: #4D7A97;
      }

      .type {

        &.array:not(.hidden) {
          display: flex;
        }

        input {
          width: 3.5em;
        }
      }
    }
  }
}

.mirrorVerseAudioRouterRootNode {
  border-radius: 50%;
  width: 5em;
  height: 5em;

  .title {
    color: red;
  }

  .connectionOut {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: green;
  }
}

.mirrorverse-audio-routing-connection {
  stroke: #1f389c;
  stroke-width: 2px;
}

.hidden {
  display: none;
}
