/* STUB: Not a proper MDC select popup, does not follow layouting guide */
.cauldron-inspector-element-autocomplete {
    border: 1px dotted #ccc;
    padding: 3px;
    position: fixed;
    z-index: 9000;
    background: var(--mdc-theme-surface, white);
    margin-top: 2em;

    &.hidden {
        display: none;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            padding: 5px 0;
            cursor: pointer;

            &:hover {
                background: #eee;
            }
        }
    }
}
